# Ignore model and checkpoint files
*.pkl
*.pth
*.h5

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore media files
*.jpg
*.jpeg
*.png
*.mp4
*.avi
*.wav
*.mp3
*.mkv
*.gif
*.webm

# Ignore specific directories and data files
filelists/*.txt
evaluation/test_filelists/lr*.txt

# Ignore project-specific directories
checkpoints/
data/
/home/hamza/Desktop/translater/data
/home/hamza/Desktop/translater/myenv
